{% extends 'base.html' %}
{% block title %}
    {{ term.name }}
{% endblock %}
{% block site_content %}
<div class="content">
    <div class="content-title left">
        <h1>{{ term.name }}</h1>
    </div>

    <div class="content-list">
        {% for page in term.pages %}
        <a href="{{ page.permalink }}">
            <div class="content-item">
                <div class="content-item-title">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
