{% extends 'base.html' %}

{% block title %}
    {{ term.name }}
{% endblock %}

{% block site_content %}
<div class="content">
    <div class="content-title">
        {% if term.name %}
        <h1># {{ term.name }}</h1>
        {% endif %}
    </div>

    <div class="content-list">
        {% for page in term.pages %}
        <a href="{{ page.permalink }}">
            <div class="content-item">
                <div class="content-item-meta">
                    <span class="meta date">
                        {{ page.date | date(format='%b %d, %Y') }}
                    </span>

                    {% if page.taxonomies['tags'] %}
                    <span class="meta tags">
                        {% for term in page.taxonomies['tags'] %}
                            #{{ term }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                <div class="content-item-title">
                    <h3>{{ page.title }}</h3>
                </div>

                <!-- <div class="content-item-preview">
                    {% if page.description %} {{ page.description | safe }} → {%
                    endif %}
                </div> -->
            </div>
        </a>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
